html {
    overflow: auto;
}

body {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame5 {
    /*  ok */
    display: flex;
    margin-top: 15px;
    margin-right: 24px;
    justify-content: space-between;
    align-items: center;
}

.sns {
    display: flex;
    list-style: none;
    gap: 16px;
}

.logo {
    margin-left: 24px;
    margin-top: 26.23px;
}

.menu {
    gap: 32px;
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.ScrollDown {
    width: 88px;
    height: 21px;
    margin-left: 126px;
    margin-top: 156px;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    padding-top: 56.05px;
    align-items: center;
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
}

.sns-under {
    display: flex;
    list-style: none;
    gap: 19px;
    display: inline-flex;
    margin-bottom: 56px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

h2 {
    padding-top: 68px;
    align-items: center;
    text-align: center;
}

.detail-posse {
    position: relative;
    z-index: 2;
    background-image: url("../imgs/background.png");
    background-repeat: no-repeat;
}

.line {
    width: 984px;
    height: 358px;
    margin: 0 auto;
    padding-bottom: 56px;
}

.detail-posse-text {
    text-align: center;
    color: #ffffff;
}

.line-icon {
    padding-right: 10px;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.detail-posse-lineadd {
    padding-bottom: 68px;
    padding-top: 239px;
}

.detail-posse-lineadd-text {
    background-repeat: no-repeat;
    background-image: url(../imgs/Rectangle\ 7.png);
    padding: 17px;
    background-position-x: center;
    color: black;
}

.copy {
    padding-top: 36px;
    border-top: 1px solid #EEEEEE;
    padding-bottom: 31.78px;
}

.logo-under {
    padding-top: 56px;
}

.mainvisual-img {
    padding-left: 464px;
    position: relative;
}

.intro {
    position: absolute;
    z-index: 5;
    background-image: url(../imgs/Rectangle-gray.png );
    ;
    background-repeat: no-repeat;
    content: '';
    border: 0px solid transparent;
    margin-top: -550px;
    margin-left: -350px;
}

.intro-text {
    color: #0071bc;
    padding: 40px 62px 23px
}

.intro-text-main {
    font-size: 60px;
    padding: 0px 63px 40px 62px;
    width: 365px;
    height: 170px;
    line-height: 80px;
    font-family: 'Noto Sans JP';
}

h1 {
    text-align: center;
}

.eng {
    text-align: center;
    color: #0071bc;
}

.posse-intro {
    display: flex;
    justify-content: space-between;
    padding-right: 228px;
}

.posse-intro-text {
    width: 472px;
    height: 175px;
    line-height: 25.2px;
    font-size: 14px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.posse-intro-photo {
    padding-left: 228px;
}

.line-fixed {
    position: fixed;
    right: 0;
    bottom: 10px;
}