html {
    overflow: auto;
}

body {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 9999;
}

.frame5 {
    display: flex;
    margin-right: 24px;
    justify-content: space-between;
    align-items: center;
}

.sns {
    display: flex;
    list-style: none;
    gap: 16px;
}

.logo {
    margin-left: 24px;
}

.menu {
    gap: 32px;
    display: flex;
    align-items: center;
    padding-right: 32px;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.menu-link {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}


/* ↓メインビジュアル */

.main-visual {
    padding-left: 464px;
    position: relative;
    padding-top: 80px;
    margin: 0 auto;
    max-width: 1280px;
}

.main-visual-img {
    height: 100%;
    width: 100%;
    border-radius: 80px 0 0 80px;
    display: block;
    margin-right: calc(50% - 50vw);
    max-height: 680px;
    overflow: hidden;
}

.intro {
    position: absolute;
    z-index: 5;
    background-image: url(../imgs/Rectangle-gray.png );
    ;
    background-repeat: no-repeat;
    content: '';
    border: 0px solid transparent;
    margin-top: -450px;
    margin-left: -350px;
    border-radius: 10%;
}

.intro-text {
    color: #0071bc;
    padding: 50px 62px 23px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
}

.intro-text-main {
    font-size: 60px;
    padding: 0px 63px 40px 62px;
    width: 365px;
    height: 170px;
    line-height: 80px;
    font-family: 'Noto Sans JP';
    display: inline-block;
    font-weight: bold;
    line-height: 1.3333;
    margin-top: 10px;
}

.ScrollDown {
    width: 88px;
    height: 21px;
    margin-left: 76px;
    margin-top: 126px;
}

.posse {
    display: block;
    margin: 0 auto;
    max-width: 1032px;
    padding: 60px 24px;
    width: 100%;
}

.posse-intro {
    gap: 40px;
    display: grid;
    margin-top: 42px;
    grid-template-columns: repeat(2, 1fr);
}

.posse-intro-photo {
    border-radius: 16px;
    overflow: hidden;
}

.posse-intro-text {
    width: 472px;
    height: 175px;
    line-height: 25.2px;
    font-size: 14px;
    align-items: center;
    padding-top: 40px;
    padding-right: 20%;
    display: block;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    align-items: center;
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
}

.official-site {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 24px;
}

.posse-sns {
    display: list-item;
}

h2 {
    padding-top: 68px;
    font-size: 40px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.detail-posse {
    z-index: 2;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
    position: relative;
    padding: 0 24px;
}

.line {
    margin: 0 auto;
    padding-bottom: 56px;
    width: 100%;
    max-width: 1032px;
}

.detail-posse-text {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    background-image: url("../imgs/background.png");
    height: 358px;
}

.line-icon {
    padding-right: 10px;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.detail-posse-line-add {
    padding-bottom: 68px;
}

.detail-posse-line-add-text {
    padding: 17px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    max-width: 320px;
    background-color: #fff;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    width: 100%;
}

.copy {
    padding-top: 38px;
    border-top: 1px solid #EEEEEE;
    padding-bottom: 31.78px;
}

.logo-under {
    padding-top: 56px;
    margin: 0 auto;
}

.icon-link {
    padding-left: 110px;
    position: absolute;
}

.sns-under {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 32px;
    list-style: none;
    margin-bottom: 48px;
    padding: 0;
}

h1 {
    text-align: center;
}

.eng {
    text-align: center;
    color: #0071bc;
}

.line-fixed {
    bottom: 16px;
    right: 16px;
    position: fixed;
    z-index: 377;
}