    /*  レスポンシブ */
    
    @media (max-width:768px) {
        main {
            width: 100px;
        }
    }
    
    @media (max-width:768px) {
        .menu-link,
        .Twitter,
        .instagram {
            display: none;
        }
    }
    
    @media (min-width:768px) {
        .hamburger {
            display: none;
        }
    }
    
    @media(max-width:768px) {
        .header-q-image .html {
            width: 100vh;
        }
    }
    
    @media(min-width:768px) {
        .choices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media(min-width:768px) {
        .p-quiz-container {
            padding: 0
        }
    }
    
    @media (max-width: 768px) {
        .detail-posse-text {
            width: auto;
        }
    }
    
    html {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }
    
    body {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        overflow-x: hidden
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: #FFFFFF;
        z-index: 99;
    }
    
    .frame5 {
        display: flex;
        margin-right: 24px;
        justify-content: space-between;
        align-items: center;
    }
    
    .sns {
        display: flex;
        list-style: none;
        gap: 16px;
    }
    
    .logo {
        margin-left: 24px;
    }
    
    .menu {
        gap: 32px;
        display: flex;
        align-items: center;
        padding-right: 32px;
    }
    
    a {
        background-color: transparent;
        color: inherit;
        text-decoration: none;
    }
    
    .menu-link {
        color: #666;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
    
    main {
        width: 100%;
        display: block;
    }
    
    .main-quiz {
        padding-top: 80px;
    }
    
    .header-text-title {
        color: #fff;
        font-weight: bold;
    }
    
    .header-text-titleーlabel {
        font-size: 18px;
        line-height: 1.8;
    }
    
    .header-text-inline {
        display: block;
        font-size: 60px;
        line-height: 1.5;
        margin-top: 12px;
    }
    
    .header-q-image {
        background-image: url(../imgs/MainVisual.jpg);
        background-size: cover;
    }
    
    .header-image {
        padding: 110px 0 76px;
    }
    
    .header-text {
        margin: 0 auto;
        max-width: 1032px;
        padding: 0 24px;
        width: 100%;
    }
    
    ul {
        list-style-type: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }
    /*メイン*/
    
    .p-quiz-container {
        max-width: 1032px;
        margin: 0 auto;
        padding-top: 120px;
        width: 100%;
    }
    
    .q-and-a {
        list-style: none;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        padding: 0 24px;
        max-width: 100%;
    }
    
    .q-a-label,
    .a-label {
        background-color: #0071bc;
        border-radius: 8px;
        color: #fff;
        display: inline-block;
        font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.5;
        padding: 8px 16px;
    }
    
    .q-a-label-accent {
        background-color: #e34e70;
    }
    
    .a-mark {
        padding-top: 78px;
        padding-bottom: 16px;
    }
    
    .q-text {
        font-family: 'Noto Sans JP';
        display: block;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.5;
        margin-top: 24px;
    }
    
    .question-image {
        margin: 64px auto 0;
        max-width: 718px;
    }
    
    .choices {
        gap: 24px;
        display: grid;
        margin-top: 16px;
    }
    
    .choice-button {
        background: transparent;
        font-size: 18px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        cursor: pointer;
        border: 5px solid #eee;
        border-radius: 5px;
        display: flex;
        font-weight: bold;
        line-height: 1.8;
        padding: 19px;
        text-align: left;
        width: 100%;
    }
    
    .choice-button:disabled .black-check {
        display: none;
    }
    
    .choice {
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
    }
    
    .black-check {
        font-size: 16px;
        margin-left: auto;
    }
    
    .href {
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 8px;
        display: block;
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        gap: 16px;
        line-height: 1.8;
        margin-top: 16px;
        padding: 24px;
    }
    
    .mark {
        font-weight: 700;
        font-style: normal;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 8px;
        display: block;
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        gap: 16px;
        line-height: 1.8;
    }
    
    .answer {
        margin-top: 64px;
    }
    
    .choice-button.is-selected {
        background-color: #eff2f5;
        border-color: #0071bc;
    }
    
    button :disabled {
        cursor: default;
    }
    
    button {
        color: inherit;
    }
    
    .choice-button:disabled.black-check {
        display: none;
    }
    
    .p-quiz-box__answer__correct {
        background-color: #fff2f5;
        border-radius: 8px;
        display: none;
        margin-top: 16px;
        padding: 5px 40px;
    }
    
    .p-quiz-box__answer__correct.is-incorrect {
        background-color: #eff2f5;
        display: block;
    }
    
    .p-quiz-box__answer__correct.is-correct {
        display: block;
    }
    
    .commentary {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: 1.5;
    }
    
    .is-correct .commentary {
        color: #e34e70;
    }
    
    .is-incorrect .commentary {
        color: #0071bc;
    }
    
    .answer-contents {
        align-items: baseline;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        gap: 18px;
        line-height: 1.8;
        margin-top: 16px;
    }
    
    .answer-contents-label {
        font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
        font-size: 24px;
    }
    
    button:disabled,
    [type=button]:disabled,
    [type=reset]:disabled,
    [type=submit]:disabled {
        cursor: default;
    }
    
    select:disabled {
        opacity: inherit;
    }
    /*下のライン以降のところ*/
    
    h2 {
        /* font-size: 40px; */
        display: flex;
        gap: 8px;
        justify-content: center;
        margin: 0;
    }
    
    .detail-posse {
        padding: 0 16px;
        margin: 0 auto;
        max-width: 1032px;
    }
    
    .line {
        margin: 0 auto;
        padding-bottom: 56px;
        max-width: 1032px;
        margin-top: 64px;
    }
    
    @media (min-width:768px) {
        .line {
            margin-top: 144px;
        }
    }
    
    .detail-posse-inner {
        position: relative;
    }
    
    @media not all and (min-width: 768px) {
        .line-title {
            flex-direction: column;
        }
    }
    
    @media screen and (min-width: 768px) {
        .line-title {
            font-size: 36px;
            letter-spacing: 0.05em;
            line-height: 1.5;
        }
    }
    
    .detail-posse-text {
        text-align: center;
        color: #ffffff;
        background-image: url(../imgs/bg-line.jpg);
        background-size: cover;
        /* height: 358px; */
        padding: 68px 24px;
        overflow: hidden;
        position: relative;
        /* padding-bottom: 90px; */
        border-radius: 28px;
    }
    
    .detail-posse-text::before {
        background-color: rgba(0, 113, 188, 0.9);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .line-title {
        align-items: center;
        display: flex;
        gap: 4px;
        justify-content: center;
    }
    
    .POSSE-official-line {
        object-fit: cover;
    }
    
    .detail-posse-line-add {
        padding-bottom: 68px;
    }
    /* .line-button {
    max-width: 320px;
    width: 100%;
}

p {
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.8;
} */
    
    .detail-posse-line-add-text {
        padding: 17px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1em;
        max-width: 320px;
        background-color: #fff;
        border-radius: 50px;
        color: #333;
        display: inline-block;
        width: 100%;
        /* position: relative; */
    }
    
    .copy {
        padding-top: 38px;
        border-top: 1px solid #EEEEEE;
        padding-bottom: 31.78px;
    }
    
    .logo-under {
        margin: 0 auto;
        padding-top: 56px;
    }
    
    .line-add-and-icon-link {
        background-size: cover;
    }
    
    .icon-link {
        padding-left: 10%;
        position: absolute;
    }
    
    footer {
        position: relative;
        bottom: 0;
        text-align: center;
        align-items: center;
        border-top: 1px solid #EEEEEE;
        padding-top: 5px;
    }
    
    .official-site {
        color: #666;
        display: inline-block;
        font-size: 14px;
        line-height: 1.8;
        margin-top: 24px;
    }
    
    .sns-under {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-top: 32px;
        list-style: none;
        margin-bottom: 48px;
        padding: 0;
    }
    
    .posse-sns {
        display: list-item;
    }
    
    *,
     ::before,
     ::after {
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
    }
    /* 固定ライン */
    
    .line-fixed {
        position: fixed;
        bottom: 16px;
        right: 16px;
    }
    
    @media(min-width:768px) {
        .line-fixed {
            bottom: 16px;
            right: 16px;
        }
        .line-fixed-link {
            border-radius: 16px;
        }
        .line-fixed-text {
            letter-spacing: 0.14em;
        }
    }
    
    @media(max-width:768px) {
        .line-fixed {
            bottom: 0;
            width: 100%;
            right: 0;
        }
        br {
            display: none;
        }
    }
    
    .line-fixed-text {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.3;
        margin-left: 13px;
        text-align: left;
    }
    
    .line-fixed-link {
        align-items: center;
        background-color: #5FDF5B;
        box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
        display: flex;
        padding: 10px 20px 10px 24px;
        justify-content: center;
    }
    
    .line-fixed-share {
        font-size: 18px;
        margin-left: 35px;
    }
    
     ::before,
     ::after {
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
    }
    
    #input {
        display: none;
    }
    
    #input:checked~.hamburger-content {
        transform: translateX(0);
        display: block;
    }
    
    .hamburger-content {
        /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
        position: fixed;
        z-index: -1;
        opacity: 0;
        /*はじめは透過0*/
        /*ナビの位置と形状*/
        top: 0;
        width: 100%;
        height: 100vh;
        /*ナビの高さ*/
        background: #ffffff;
        /*動き*/
        transition: all 0.3s;
    }
    
    .hamburger-menu-quiz {
        padding-top: 40px;
    }
    /*アクティブクラスがついたら透過なしにして最前面へ*/
    
    .hamburger-content.panelactive {
        opacity: 1;
        z-index: 999;
    }
    /*ナビゲーション*/
    
    .hamburger-content ul {
        display: none;
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    
    .hamburger-content.panelactive ul {
        display: block;
    }
    
    .hamburger {
        position: fixed;
        z-index: 9999;
        /*ボタンを最前面に*/
        top: 10px;
        right: 5px;
        cursor: pointer;
        width: 74px;
        height: 50px;
        align-items: center;
    }
    /*×に変化*/
    
    .hamburger span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 1px;
        border-radius: 2px;
        background-color: #666;
        width: 45%;
    }
    
    .hamburger span:nth-of-type(1) {
        top: 20px;
    }
    
    .hamburger span:nth-of-type(2) {
        top: 34px;
    }
    
    .hamburger.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
    }
    
    .hamburger.active span:nth-of-type(3) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-of-type(2) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
    }
    
    .hamburger-logo {
        padding-left: 24px;
        padding-top: 24px;
    }
    
    .hamburger-line-fixed-link {
        align-items: center;
        background-color: #5FDF5B;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        position: absolute;
        width: 343px;
        height: 60px;
        left: calc(50% - 343px/2);
        bottom: 159px;
    }
    
    .hamburger-sns {
        justify-content: center;
        list-style: none;
        padding: 0;
        position: absolute;
        left: calc(50% - 100px/2);
        width: 150px;
        bottom: 34px;
        gap: 8px;
    }
    
    .hamburger-official-site {
        color: #666;
        display: inline-block;
        font-size: 14px;
        line-height: 1.8;
        bottom: 104px;
        position: absolute;
        left: calc(50% - 112px/2);
        width: 122px;
    }
    
    @media (min-width:768px) {
        .hamburger {
            display: none;
        }
    }