/* 共通事項 */

body {
    height: 100vh;
    /* overflow-x: hidden; */
    /* padding-right: 15px; */
    /* position: fixed; */
    /* overflow-y: hidden; */
}

body.overflow-hidden {
    overflow-y: hidden;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

header {
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    z-index: 99;
    /* display: flex; */
    /* justify-content: space-between; */
    /* display: flex;
        justify-content: space-between; */
}

html {
    box-sizing: border-box;
    /* overflow-y: hidden; */
    /* -webkit-overflow-scrolling: touch; */
}

html.overflow-hidden {
    box-sizing: border-box;
    /* overflow-y: hidden; */
    /* -webkit-overflow-scrolling: touch; */
}

body {
    height: 100%;
    width: 100%;
    background-color: #F5F5F8;
    /* overflow-y: hidden; */
}

.main {
    margin: 0 auto;
}

textarea[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

p {
    font-weight: bold;
}


/* --------ヘッダー------------------------------- */

.menu {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}

.header-logo {
    align-items: center;
}

#open {
    /* margin-right: 10px; */
    padding: 12px;
    background: linear-gradient(to right, #0f71DC, #3ccfff);
    margin: 10px 5%;
    border-radius: 50px;
    max-width: 170px;
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px 10px 0 rgba(60, 194, 235, 0.8);
    color: #FFFFFF;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    /* display: flex; */
}

.header-menu {
    justify-content: space-between;
    display: flex;
}

.header-menu-week {
    color: #97b9d1;
}


/* 左側のところのやつら-------------------------------- */

.log {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1032px;
    width: 100%;
}

.graphs {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
}

.parameter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.time {
    max-width: 100%;
}

.today,
.month,
.total {
    padding: 10px 25px 10px 25px;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 10px;
}

.range {
    color: #0F71BC;
    font-weight: bold;
    font-size: 14px;
}

.parameter-time {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 4px;
}

.unit {
    color: #97B9D1;
    font-size: 14px;
}


/* -------------------右側の円グラフ-------------------- */

.graph {
    padding: 50px;
    /* padding-bottom: 300px; */
    /* max-width: 30%; */
    background-color: #FFFFFF;
    margin-top: 15px;
    border-radius: 20px;
}

.circle-graphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.language {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.content {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.graph-title {
    padding: 20px 0 0 15px;
    font-size: 24px;
    font-weight: bold;
}

.date {
    font-weight: bold;
    font-size: 18px;
    /* margin: 0 auto;
            justify-content: center; */
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    /* position: absolute; */
}

@media screen and (max-width: 768px) {
    .date {
        padding-top: 10px;
    }
}

.circle-graph {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* --------------日程変更 下のやつ------------------------ */

.date:before {
    content: "\03c";
    color: #0f71bc;
    /* font-size: 2px; */
}

.date:after {
    content: "\03e";
    color: #97b9d1;
    /* font-size: 2px; */
}


/*----------------------------- モーダル-------------- */

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* ↑マスクの領域が画面全体に広がる */
    z-index: 1;
}

.modal-box {
    overflow: hidden;
}

#modal {
    background: #fff;
    /* width: 900px; */
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    /* top: 50%; */
    /* margin: 0 5%;
        margin-left: 5%;
        margin-right: 5%; */
    /* bottom: 0; */
    /* left: 50%; */
    /* right: 50%; */
    left: 4em;
    right: 4em;
    /* right: 0; */
    /* margin: 0 5%; */
    margin: 0 auto;
    justify-content: center;
    /* 左右中央に配置したいのですが、絶対配置の場合は left: 0; 、 right: 0; としたあとに左右の margin を auto にすることで中央揃えにできるので */
    /* transition: transform 0s; */
    /* transform: translate(-50%, -50%); */
    z-index: 5;
    /* margin: 100px; */
    width: auto;
    /* width: 100%; */
    max-width: 900px;
    /* min-width: auto; */
    /* display: inline-block;
        text-align: center;
        */
    /* inset: 0 */
    /* box-sizing: border-box;
        white-space: normal */
    height: auto;
    /* margin-top: 100px; */
    overflow-y: hidden;
    /* height: 550px; */
}

@media (min-width: 768px) {
    #modal {
        height: 550px;
    }
}

#modal-content {
    justify-content: space-between;
    width: auto;
    /* width: auto; */
    /* background-color: #0F71BC; */
    /* height: 100vh; */
    /* max-height: calc(100vh - 4.0em); */
    /* overflow-y: scroll; */
    box-sizing: border-box;
    /* box-sizing: inherit; */
    /* position: absolute; */
    /* white-space: normal */
    /* height: 540px; */
    width: 100%;
    display: block;
    /* padding-top: 100px; */
}

@media screen and (max-width: 768px) {
    #modal-content {
        height: 120vh;
        /* margin-top: 50vh; */
        width: 100%;
        border-radius: 30px 30px 0 0;
        /* max-height: calc(100vh - 4em); */
        /* overflow-x: hidden; */
    }
}

@media screen and (max-width: 768px) {
    #modal {
        left: 0em;
        right: 0em;
        border-radius: 0;
        margin-top: 8%;
    }
}

#modal-otherthan-close {
    justify-content: space-between;
    width: auto;
    /* width: 100%; */
    /* background-color: #0F71BC; */
    /* height: 100vh; */
    /* max-height: calc(100vh - 4.0em); */
    /* overflow-y: scroll; */
    box-sizing: border-box;
    /* box-sizing: inherit; */
    /* position: absolute; */
    /* white-space: normal */
}

.modal-log-list {
    padding: 0 56px;
    display: grid;
    gap: 40px;
    width: auto;
    width: 100%;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    height: 100%;
    /* height: 150vh */
}

.modal-log-language>p {
    margin-top: 24px;
    background-color: #0F71BC;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -2000px);
    /* x軸、y軸それぞれどこにしまっておくか、-2000にすれば画面から消える */
}

#close {
    font-size: 20px;
    max-width: 40px;
    /* text-align: right; */
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 0 auto;
    font-size: 30px;
    background-color: #f5f5f8;
    text-align: center;
    line-height: 33px;
}

.log-title-twitter {
    margin-top: 10px;
    cursor: pointer;
}

.share {
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.checkbox .log-title {
    margin-top: 10px;
}

#posse-assignment {
    /* margin-top: 100px; */
    display: inline-block;
}

input[type=checkbox] {
    display: none;
}


/* ----------モーダルの左側----------------------------- */

@media (min-width: 768px) {
    .modal-log-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.day-textbox {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    outline: none;
    background-color: #F5F5F8;
    width: 100%;
    height: 10px
}

.day-content-language {
    height: auto;
    width: auto;
}

.modal-language-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.modal-log-content {
    margin-top: 10px;
}

.modal-content-list {
    margin-top: 10px;
}

.checkbox {
    background-color: #F5F5F8;
    /* width: 100%; */
    max-width: 250px;
    border-radius: 25px;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.content-list-flex {
    display: flex;
    gap: 8px;
}


/* モーダルの右側------------------------------------- */

.time-twitter {
    /* box-sizing: border-box; */
    width: auto;
}

.time-textbox {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    outline: none;
    background-color: #F5F5F8;
    /* max-width: 374px; */
    width: 100%;
    height: 10px;
}

.twitter-textbox {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    outline: none;
    background-color: #F5F5F8;
    /* width: 374px; */
    /* max-width: 374px; */
    width: auto;
    /* height: 5em; */
}

textarea {
    resize: none;
    background-color: #F5F5F8;
    width: 100%;
    /* border-radius: 10px; */
    padding: 15px;
    margin-bottom: 5px;
    height: 185px;
    overflow-x: hidden;
    height: 10vh;
    border-radius: 15px;
}


/* モーダルの中の記録投稿ボタン */

#opened-log-and-submit {
    /* margin-right: 10px; */
    padding: 12px;
    background: linear-gradient(to right, #0f71DC, #3ccfff);
    margin: 10px 35%;
    border-radius: 50px;
    max-width: 270px;
    width: 100%;
    text-align: center;
    box-shadow: 15px 10px 55px 0 rgba(60, 194, 235, 0.8);
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0 auto;
    /* top: 0; */
    /* position: absolute; */
}


/*-------------- ローディング--------------------*/

.loding {
    height: 350px;
}

#modal-otherthan-close.hide {
    display: none;
    width: auto;
    overflow: hidden
}

#modal.one-screen {
    margin-top: 0;
    /* overflow-x: hidden;
            overflow-y: hidden; */
    /* overflow: hidden; */
    overflow-y: hidden;
    text-align: center;
    justify-content: center;
    height: 550px;
}

@media screen and (max-width: 768px) {
    #modal.one-screen {
        margin-top: 20em;
    }
}

#modal::-webkit-scrollbar {
    display: none;
}

#loading {
    /* padding-top: 150px; */
}

.loader {
    font-size: 10px;
    margin: 150px auto 50px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    /* margin: 150px 0 192px 40em; */
    /* display: none; */
    /* height: inherit; */
}

.loader:before {
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #0f71DC, #3ccfff);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #FFFFFF;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#finish-finish {
    display: none;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

#finish-finish.open {
    display: block;
    height: 350px;
    padding-top: 150px;
}

@media (max-width: 768px) {
    #finish-finish.open {
        padding-top: 80px;
    }
}


/* ローディングを三秒流した後の完了画面 */

.check-mark-containor {
    /* width: 100px; */
    /* height: 100px; */
}

.check-mark {
    color: white;
    background-color: #BDE360;
    transform: rotate(139deg) translateX(5px);
    /* transform: rotate(139deg) translateX(-75px); */
    /* padding-left: 100px; */
    /* transrateX {} */
    font-size: 34px;
    /* width: auto; */
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 400;
}

.record-title {
    color: #BDE360;
    /* font-size: 2ch; */
}

.record-text {
    margin-top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    /* margin: 0 auto; */
    display: block;
    font-size: 18px;
    line-height: 1.8
}


/* カレンダー */


/* レスポンシブ */

@media (max-width:768px) {
    #open {
        box-shadow: 10px 10px 10px 0 rgba(60, 194, 235, 0.8);
        position: absolute;
        bottom: 0;
        max-width: 570px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: auto;
        /* ↑これだーーーーーーーーーーー */
    }
    .menu {
        padding-top: 18px;
    }
    .modal-log-list {
        padding: 0;
    }
}

@media (min-width:768px) {
    .graphs {
        grid-template-columns: repeat(2, 1fr);
    }
}