.header{
  display: flex;

}

.logo{
  
  margin-right: auto;
  
}

.frame5{
  margin-left: auto;
  display: flex;
  
}

.menu{
  padding: auto;
  display: flex;
  
}

.sns{
  margin-left: auto;
  display: flex;
}

.top{
  margin-top: auto;
  margin-left: 50%;
  margin-right: 50;
bottom: 0;
position: absolute;
}