    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .frame5 {
        /*  ok */
        display: flex;
        margin-top: 15px;
        margin-right: 24px;
        justify-content: space-between;
        align-items: center;
    }
    
    .sns {
        display: flex;
        list-style: none;
        gap: 16px;
    }
    
    .logo {
        margin-left: 24px;
        margin-top: 26.23px;
    }
    
    .menu {
        gap: 32px;
        display: flex;
        align-items: center;
        padding-right: 32px;
    }
    
    main {
        width: 100%;
    }
    
    .q1 {
        padding-top: 128px;
        padding-left: 228px;
    }
    
    .a1 {
        padding-top: 78px;
        padding-left: 228px;
        padding-bottom: 16px;
    }
    
    .q1-text {
        padding-right: 228px;
        padding-left: 228px;
        font-size: 36px;
        font-family: 'Noto Sans JP'
    }
    
    .human-image {
        text-align: center;
    }
    
    .ansewr-1 {
        width: 100%;
    }
    
    .choices {
        display: flex;
        gap: 24px;
        width: 984px;
        margin: 0 auto;
    }
    
    .q1-1,
    .q1-2,
    .q1-3 {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        width: 310px;
        height: 30px;
        align-items: center;
        font-size: 18px;
        border-radius: 8px;
        border: 5px solid #EEEEEE;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        line-height: 180%;
    }
    
    .black-check {
        padding-left: 70px;
    }
    
    .href {
        display: flex;
        background: #F6F6F6;
        border-radius: 8px;
        width: 984px;
        height: 80px;
        margin: 0 auto;
        z-index: -3;
        margin-top: 16px;
    }
    
    .href-text,
    .mark {
        padding-top: 32px;
        padding-left: 24px;
        font-weight: 700;
    }